files/in/address_book.dtd

<?xml version="1.0" encoding="UTF-8" ?>
        <!ELEMENT addressBook (contact*)>
        <!ELEMENT contact (book*)>
        <!ATTLIST section name CDATA #REQUIRED number ID #REQUIRED>
        <!ELEMENT book (title+,author+,publisher?,year?)>
        <!ATTLIST book id ID #REQUIRED>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT author (#PCDATA)>
        <!ELEMENT publisher (#PCDATA)>
        <!ELEMENT year (#PCDATA)>
