files/in/bookstore.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bookstore">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="section">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element type="xs:string" name="author"/>
                                        <xs:element type="xs:string" name="publisher"/>
                                        <xs:element type="xs:short" name="year"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:byte" name="number"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>